*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #f5f6f7;
  margin-right: 50px;
}

#dashboard{
    width: 100%;
}

#dashboard .dashboard-container{
  display: grid;
  grid-template-columns: 10rem auto;
  gap: 1rem;
  margin-bottom: 5rem;
}

#dashboard aside{
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 7rem;
  padding: 2rem;
  background-color: #fcfbfa;
}

#dashboard aside h1{
    margin-bottom: 80px;
    font-size: 20px;
}

#dashboard aside li{
  list-style-type: none;
  margin-bottom: 80px;
  text-align: center;
}

#dashboard aside a{
  color: #BEBCBA;
  text-decoration: none;
}

#dashboard aside a:hover{
  color: #231E1F;
  transition: 0.3s ease;
}

#dashboard aside i{   
    margin-bottom: 10px;
}

#dashboard aside h5{
    font-size: 12px;
}

#dashboard aside li:hover {
  position: relative;
}

#dashboard aside li:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: -32px;
  bottom: 0;
  width: 4px;
  background-color: #000;
  z-index: 1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#dashboard aside a .fa-power-off{
    transform: rotate(90deg);
}

#header .header-container,
#header .header-2,
#header .content{
    display: flex;
    justify-content: space-between;
    color: #fff;
    word-spacing: 2px;
}

#header i{
    margin-right: 10px;
}

#header .content-1{
    background-color: #000;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header .content-2,
#header .content-3{
    background-color: #3B7D62;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header .content-2{
  margin-right: 50px;
}

#header .content-3 h5{
  margin-right: 10px;
}

#header .content-3 img{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #fff;
}

#header .notification {
  position: relative;
  display: inline-block;
}

#header .notification i{
  background-color: #fff;
  color: #3B7D62;
  border-radius: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

#header .notification-count {
  position: absolute;
  top: -3px;
  right: 8px;
  background-color: #fff;
  color: #3B7D62;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 600;
  padding-left: 3px;
  padding-right: 3px;
  z-index: 1;
}

#part-1{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#part-1 .board{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

#part-1 .board i{
  background-color: #3B7D62;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
}

#part-1 .board p{
  margin-left: 10px;
  font-size: 20px;
}

#part-1 .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

#part-1 .card{
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

#part-1 .card .number{
  font-size: 22px;
  font-weight: 900;
}

#part-1 .card .increase{
  margin-top: 30px;
}

#part-1 .card i{
  margin-top: 30px;
  font-size: 50px;
  color: hsl(0, 0%, 100%, 0.4);
}

#part-1 .card-2 .car-1 { 
  margin-right: -25px;
}

#part-1 .card .fa-video{
    transform: rotate(170deg);
    margin-bottom: 30px;
}

#part-1 .card-1{
  background: linear-gradient(to right, #009D8F, #00C077);
  padding: 30px;
}

#part-1 .card-2{
  background: linear-gradient(to right, #FF6914, #FFAF00);
  padding: 30px;
}

#part-1 .card-3{
  background: linear-gradient(to right, #5282C6, #00B6E4);
  padding: 30px;
}

#part-1 .card-4{
  background: linear-gradient(to right, #E2002C, #980033);
  padding: 30px;
}

#part-1 .second-container{
  position: relative;
}

#part-1 video{
  width: 800px;
  border-radius: 15px;
}

#part-1 .video-actions{
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#part-1 .control{
  background-color: hsl(0, 0%, 0%, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  bottom: 24rem;
  right: -350px;
  width: 300px;
}

#part-1 .control i,
#part-1 .controls i{
  margin-right: 10px;
  color: hsl(0, 0%, 100%, 0.6);
  font-size: 20px;
}

#part-1 .control p,
#part-1 .controls p{
  margin-right: 20px;
  font-size: 20px;
  color: hsl(0, 0%, 100%, 0.7);
}

#part-1 .controls{
  background-color: hsl(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  bottom: 1.5rem;
  left: 450px;
  width: 330px;
}

#part-2{
  display: grid;
  grid-template-columns: 25rem auto;
  gap: 1rem;
  margin-top: 20px;
}

#part-2 .code{
  margin-top: 20px;
}

#part-2 .code img{
  border: 1px solid rgb(209, 201, 201, 0.4);
  background-color: #fff;
  border-radius: 20px;
}

#part-2 .code p{
  margin-top: 10px;
  word-spacing: 5px;
  line-height: 20px;
}

#part-2 .second-container {
  margin-top: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1), 2px 0 0 rgba(0, 0, 0, 0.1), -2px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#part-2 .container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  
}

#part-2 .container p {
  margin: 5px 0;
  font-weight: 900;
  padding: 10px;
}

#part-2 .container .view .fa-list{
  margin-right: 10px;
  margin-left: 10px;
  color: #3B7D62;
}

#part-2 .container .view{
  color: hsla(0, 2%, 32%, 0.8);
}

#part-2 .container .rows{
  color: hsla(0, 2%, 32%, 0.8);
}

#part-2 .container .sort{
  color: hsla(0, 2%, 32%, 0.8);
  border-bottom: 2px solid #ddd;
}

#part-2 .container .sort i{
  margin-left: 20px;
}

#part-2 .container .sort span{
  margin-right: 50px;
}

#part-2 table {
  width: 100%;
  border-collapse: collapse;
}

#part-2 th, #part-2 td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

#part-2 tbody tr:last-child td {
  border-bottom: none;
}

#part-2 tbody td{
  color: hsla(0, 2%, 32%, 0.8);
}

#part-2 tbody td p{
  background-color: #3e2e22;
  padding: 15px;
  text-align: center;
}

#part-2 tbody td p span{
  background-color: #fffbe4;
  padding: 8px 25px;
}

#part-2 button {
  background-color: #3B7D62;
  color: #fff;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}

#part-2 button i{
  margin-left: 10px;
}